 
*{
     margin:0px;
     padding:0px;
     box-sizing: border-box;
}
.text-center{
    text-align: center;
}
.bg-red{
    background-color: red;
}
h1{
    
    font-size: 3rem;
    color: rgb(218, 206, 201);
}
body{
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    background: linear-gradient(to right,rgb(65, 1, 1),rgb(1, 2, 36));
}
.continer{
    /* width: 250px; */
    /* height: 400px; */
    
    padding: 15px;
    /* background-color: rgb(245, 175, 166); */
    background-color: rgb(201, 139, 139);
    display: flex;
    align-items:center;
    flex-direction: column;
    border-radius: 15px;
}

.button{
    height:60px;
    width: 60px;
    margin: 2px 1px;
     background-color: rgb(197, 136, 136);
    border:0px black solid ;
    box-shadow: 1px 2px 2px  1px rgb(65, 10, 10);
    border-radius: 11px;
    cursor: pointer;
    font-size: 1.2rem;
}
.button:hover{
    background-color: rgb(212, 160, 160); 
}
#input{
    font-size: 1.5rem;
   
    text-align: center;
   width: 260px; 
   height: 65px;
    margin:5px ;
    border-radius: 6px;
    padding-top: 19px;
    box-sizing:border-box;
    margin-bottom:20px;
    box-shadow: 5px 10px 30px 1px  rgb(225, 206, 182)  inset;
}
p{
    color: antiquewhite;
    opacity:0.px;
}
#equalto{
    width: 124px;
}
.footer{
  margin-bottom:0px;
    color:white;
}

